webservices/node_modules
webservices/public/hot
webservices/public/storage
webservices/storage/*.key
webservices/vendor
webservices/.env
webservices/.env.backup
webservices/.phpunit.result.cache
webservices/Homestead.json
webservices/Homestead.yaml
webservices/npm-debug.log
webservices/yarn-error.log

server/node_modules

client/node_modules
client/.pnp
client/.pnp.js
client/coverage
client/build
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
